*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
/*Index.html*/
#index-ul{
    background-color: white;
    width: 400px;
    height: 50px;
    border-radius: 40px;
    text-align: center;
    position: fixed;
    top: 30px;
    right: 40px;
    z-index: 3;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-family: sans-serif;
    font-weight: bold;
}

#index-ul li{
    display: inline-block;
    margin-top: 14px;
}

#index-ul li a{
    margin-right: 30px;
    text-decoration: none;
    color: red;
}

#index-ul li a:hover{
    color:  rgb(39, 63, 123);
}

#haribo-nav{
    position: fixed;
    top: 20px;
    right: 30px;
    z-index: 4;
}

#haribo-nav img{
    width: 50px;
}

.conteiner {
    padding: 2rem;
}

.slider-wrapper {
    
    margin: 0 auto;
}

.slider {
    display: flex;  
    margin-left: 50px;
    height: 650px;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align:start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background-color: white;
    border-radius: 40%;
    padding: 5px;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: red;
    opacity: 0.75;
    transition: opacity ease 250ms;
    
}

.slider-nav a:hover {
    opacity: 1;

}

.haribo-section{
    margin-top: 250px;
}

.haribo-products{
    float: left;
    margin-left: 75px;

}

.haribo-story{
    float: right;
    margin-right: 75px;
    margin-bottom: 225px;
}

#haribo-image1{
    width: 450px;
    height: 450px;
    overflow: hidden;
    border-radius: 55% 45% 60% 40% / 40% 60% 45% 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#haribo-image2{
    width: 450px;
    height: 450px;
    overflow: hidden;
    border-radius: 58% 42% 60% 40% / 40% 60% 55% 45%;
}

.haribo-text{
    margin-top: 7px;
    font-family: sans-serif;
}

.link{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-top: 25px;
}

#video-div{
    clear: both;
    background-color: red;
}

#image-video-text{
    margin-top: 195px;
    height: 367.06px;
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    padding-top: 40px;
    padding-left: 50px;
}

#image-video-text h1{
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 60px;
    text-align: center;
}

#image-video-text p{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: left;
}

#image-video{
    float: right;
    height: auto;
    width: 650px;
}

#image-contact-div{
    margin-top: 240px;
    margin-left: 80px;
}

#image-contact{
    border-radius: 40% 60% 60% 40% / 30% 40% 60% 50%;
    overflow: hidden;
    height: 600px;
    width: auto;
}

#contact-text{
    margin-top: 225px;
    float: right;
    width: 510px;
    right: 25px;
}

#questions-title{
    font-family: sans-serif;
    font-size: 60px;
    color: rgb(80, 80, 174);
}

#p-title{
    font-family: sans-serif;
    font-size: 20px;
}

#a-title{
    text-decoration: none;
    color: black;
    font-weight: 60px;
    font-size: 30px;
    font-family: sans-serif;
    margin-top: 35px;
    padding: 35px;
}

#haribo-tedys{
    clear: both;
    background-color: rgb(136, 209, 81);
    margin-bottom: 300px;
}

#tedy-text{
    margin-top: 195px;
    height: 485.65px;
    text-align: left;
    font-family: sans-serif;
    font-size: 20px;
    color: white;
}

#p-tedy{
    font-family: sans-serif;
    text-align: left;
    margin-top: 65px;
    font-size: 25px;
    margin-left: 70px;
    margin-bottom: 40px;
}

#a-tedy{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 45px;
    color: white;
    margin-left: 70px;
}

#h1-tedy{
    color: rgba(235, 235, 15, 0.893);
    font-size: 70px;
    margin-top: 35px;
    font-family: sans-serif;
    margin-left: 80px;
}

#image-tedys{
    float: right;
    height: auto;
    width: 650px;
}

.footer-links {
    display: flex;
    gap: 80px;
    background-color: rgb(31, 89, 214);
    width: 100%;
    margin-top: 150px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-left: 100px;
    float: left;
}

.footer-a {
    font-family: sans-serif;
    color: white;
    text-decoration: none;  
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
}

.footer-a:hover {
    color: yellow;
}

#haribo-bear-image{
    height: 450px;
    margin-left: 120px;
}

#copyright{
    color: white;
    background-color: rgb(31, 89, 214) ;
}

#copyright-p{
    margin-left: 100px;
    margin-bottom: 5px;
}

#final-message{
    font-family: sans-serif;
    text-align: center;
    background-color: rgb(31, 89, 214) ;
    height: 60px;
}

#final-message-p{
    padding: 15px;
    color: white;   
    font-size: 30px;
    font-weight: bold;
}

/*products*/

.haribo-logo{
    position: fixed;
    top: 20px;
    left: 30px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    width: 100vw;
    height: 100vh;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.item img {
    width: 70%;
    height: auto;
    object-fit: contain;
}

.goldbears     { background: #c59b2c; }
.green         { background: #4dba48; }
.red           { background: #cc1a1a; }
.blue          { background: #1f78d1; }
.turquoise     { background: #00a886; }
.orange        { background: #f7931e; }
.yellow        { background: #f7d64a; }
.darkblue      { background: #003f87; }
.lime          { background: #8cc63f; }

.footer-links-products{
    display: flex;
    gap: 80px;
    background-color: rgb(31, 89, 214);
    width: 100%;
    margin-top: 500px;
}

/*about us*/

#haribo-logo{
    position: fixed;
    top: 25px;
    left: 25px;
}

#background-about{
    background-image: url(images/fondo-aboutus.png);
    height: 700px;
    padding-left: 150px;
    padding-top: 300px;
}

.text-box{
    border-radius: 200px 400px 200px 300px / 150px 250px 250px 200px;
    background-color: red;
    text-align: left;
    padding: 100px;
    color: white;
    width: 700px;
    font-family: sans-serif;
    font-size: 30px;
    height: 550px;
}


.top-text {
    padding: 60px 80px;
    margin-top: 200px;
    font-family: sans-serif;
}

.top-text h1 {
    color: #d62828;
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 15px;
}

.top-text p {
    max-width: 700px;
    line-height: 1.6;
}

#section-aboutus{
    background-color: red;
    font-family: sans-serif;
}

#about-div{
    float: left;
    width: 500px;
    margin-left: 60px;
    margin-top: 150px;
    color: white;
    font-family: sans-serif;
}

#about-div h1{
    margin-bottom: 30px;
    font-weight: bold;
}

#about-div ul{
    list-style-type: none;
    margin-bottom: 30px;
}

#about-div p{
    font-size: 20px;
    font-weight: bold;
}

#about-image{
    width: 600px; 
    margin-left: 300px;
}